/* Footer.css */
.footer {
    background-color: #0e0e0e00;
    color: white;
    padding: 0;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 500px;
    width: 30%;
    margin: 0;
 
  }
  
  .footer-container {
    display: flex;
  
    align-items: center;
    padding: 1px;
   
  }
  
  .footer-text {
    font-size: 15px;
    font-weight: 500;
  }
  
  .footer-social {
    display: flex;
    padding: auto;
    gap: 2px;
    margin: 10px 0;
    width: 100px;
    position: relative;
    font-size: 30px;
  }
 .twitter-link {
    color: #1da1f2;
    text-decoration: none;
    transition: color 0.3s ease;
    width: 100px;
  }

  .facebook-link {
    color: #1877f2;
    text-decoration: none;
    transition: color 0.3s ease;
    width: 100px;
  }
  .instagram-link {
    color: #c32aa3;
    text-decoration: none;
    transition: color 0.3s ease;
    width: 100px;
    right: 30px;
  }
  
  
  