/* Sayfa container */
.page-container {
  width: 100%;
  min-height: 100vh; /* Tam ekran yükseklik */
  display: flex;
  flex-direction: column;
  overflow: auto; /* Scroll yapılabilir */
}

/* Home bölümü */
.home {
  width: 100%;
  min-height: 100vh; /* Tam ekran yükseklik */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #1a1a1a, #000000); /* Koyu gradient arka plan */
  color: white;
}

/* Start butonu konteyneri */
.start-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

/* Start butonu stili */
.start-button {
  padding: 15px 30px;
  font-size: 1.5rem;
  color: white;
  background-color: #ff4757; /* Kırmızı arka plan */
  border: none;
  margin-top: 500px;
  border-radius: 10px;
  cursor: pointer;
  animation: pulse 1.5s infinite, float 3s infinite ease-in-out; /* Yanıp sönme ve hareket animasyonu */
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.start-button:hover {
  background-color: #ff6b81; /* Fare üzerine gelindiğinde renk değişimi */
  transform: scale(1.1); /* Hafif büyütme efekti */
}

/* Yanıp sönme animasyonu */
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 71, 87, 0.7);
  }
  70% {
    box-shadow: 0 0 0 15px rgba(255, 71, 87, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 71, 87, 0);
  }
}

/* Hareket animasyonu */
@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

/* Contact bölümü */
.contact-section {
  width: 100%;
  min-height: 100vh; /* Tam ekran yükseklik */
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #1a1a1a, #000000); /* Koyu gradient arka plan */
  color: white;
}